@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    font-family: 'Karla', sans-serif;
    font-size: 1.3rem;
    color: white;
    display: flex;
    height: 100vh;
    background-color: rgb(235, 235, 235);
}
aside {
    display: grid;
    width: 30%;
    border-right: 1px solid rgb(165, 165, 165);
    height: 100vh;
    padding: 0 2%;
    overflow-y: auto;
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.13);
    background-color: rgb(51, 51, 51);
}
h2 {
    text-align: center;
    margin-top: 10%;
}
small {
    margin-top: 10%;
    margin-bottom: 3%;
}
input:not(#pokemonImage) {
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid;
    padding: 2%;
}
select {
    padding: 2%;
}
.content {
    display: grid;
    border-bottom: 1px solid white;
    padding-bottom: 10%;
}
.question {
    display: flex;
    justify-content: space-between;
}
label {
        margin-top: 10%;
        font-size: 1.1rem;
}
textarea {
    resize: none;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    color: black;
    height: 100px;
    padding: 2%;
}
/* Powers Configuration */
#move-cost {
    display: flex;
    justify-content: space-between;
}
.cost-type-icon {
    display: grid;
}
.type-image-icon {
    height: 65%;
    margin: 15% 0;
    justify-self: center;
}